################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/bin/Debug
/src/obj
/src/.vs/SimpleJsonRpc/v15/Server/sqlite3
/src/.vs/SimpleJsonRpc/v15
